<IfModule mod_rewrite.c>
  RewriteEngine on

    # if the request is not a file, and not 
    # an existing directory, and doesn't end in html
    # stick an html on it
    RewriteCond %{REQUEST_URI} !(\.[^./]+)$ 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    
    RewriteRule ^(.*)/?$ http://www.eat4wellbeing.co.uk/$1.html [R=301,NC,QSA]

</ifModule>