<IfModule mod_rewrite.c>
  RewriteEngine on

    # if the request is not a file, and not 
    # an existing directory, and doesn't end in html
    # stick an html on it
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} ! \.html$
    
    RewriteRule ^(.*)$ $1.html [R=301,NC,QSA]

</ifModule>