  <div class="clear">&nbsp;</div>
  <div class="grid_12" id="siteinfo">
    <div class="grid_8 alpha"><p style="margin-left:18px;">&copy; 2013 Eat4Wellbeing, <a href="/brighton-nutritionist.html">Nutritional Therapist in Brighton, Sussex</a>.</p>

      </div>
    <div class="grid_4 omega">
    <p>Website design and build by Ben Edwards<br />
      Food photography by <a href="http://www.flickr.com/photos/calliope/" title="Flickr: Muffet's Photostream">Flickr's Muffet</a></p>
</div>
    </div>
</div>

</body>
</html>