<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title> {{ page.title }} | Eat4WellBeing Nutrition Clinic in Brighton, Sussex</title>
  <meta name="author" content="Ben Edwards">
  <!-- Date: 2013-05-12 -->
  <style type="text/css" media="screen"> 
  @import "/static/style.css";
  @import "/static/960.css" ;
</style>
<!-- {% if page.url == '/contact.html' %}

<link rel="stylesheet" href="/static/wufoo-css/form.css">
{% endif %} -->
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div class="container_12">
    <div class="grid_12" id="header">
      <img src="/static/logo.jpg" width="155" height="162" style="float:right">    
<h1>{% if site.htitle %}{{ site.htitle }}{% else %}{{ htitle }}{% endif %}</h1>
    </div>
<div class="clear">&nbsp;</div>