{% include header.html %}
<div id="menu" class="grid_12">{% include mainmenu-clinic.html %}
</div>
<div class="clear">&nbsp;</div>
<div class="grid_8" id="content">
{{ content }}
</div> 
<div class="grid_4">
  <ul class="right-menu">
    {% include clinic-menu.html %}
  </ul>

 <img src="/static/fruitveg/fruitveg02_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg01_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg04_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg18_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg06_jpg_148x110_crop_q85.jpg" width="148" height="110" />
<img src="/static/fruitveg/fruitveg03_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg13_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg10_jpg_148x110_crop_q85.jpg" width="148" height="110" />
  </div> 

{% include footer.html %}