{% include header.html %}
<div id="menu" class="grid_12">{% include mainmenu.html %}
</div>
<div class="clear">&nbsp;</div>
<div class="grid_8" id="content">
{{ content }}
</div> 
<div class="grid_4">

 <img src="/static/fruitveg/fruitveg18_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg10_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg12_jpg_148x110_crop_q85.jpg" width="148" height="110" />
<img src="/static/fruitveg/fruitveg17_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg03_jpg_148x110_crop_q85.jpg" width="148" height="110" />
  <img src="/static/fruitveg/fruitveg11_jpg_148x110_crop_q85.jpg" width="148" height="110" /> 
  <img src="/static/fruitveg/fruitveg08_jpg_148x110_crop_q85.jpg" width="148" height="110" />
 <img src="/static/fruitveg/fruitveg04_jpg_148x110_crop_q85.jpg" width="148" height="110" />
   <img src="/static/fruitveg/fruitveg06_jpg_148x110_crop_q85.jpg" width="148" height="110" />
  <img src="/static/fruitveg/fruitveg09_jpg_148x110_crop_q85.jpg" width="148" height="110" />
  </div> 
  <div class="clear">&nbsp;</div>
  <div class="grid_12" id="siteinfo">
    <div class="grid_8 alpha"><p style="margin-left:18px;">&copy; 2013 Eat4Wellbeing, <a href="/brighton-nutritionist">Nutritional Therapist in Brighton, Sussex</a>.</p>

      </div>
    <div class="grid_4 omega">
    <p>Website design and build by Ben Edwards<br />
      Food photography by <a href="http://www.flickr.com/photos/calliope/" title="Flickr: Muffet's Photostream">Flickr's Muffet</a></p>
</div>
    </div>
</div>

</body>
</html>
